<div class="flip-card-outer">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img class="album-img" src="{{ properties.imageUrl }}" alt="Photo of a Shiba Inu">
    </div>
    <div class="flip-card-back">
      <h1>Shiba Inu</h1>
      <p>Dog Breed</p>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </div>
  </div>
</div>