<div class="navbar">

  <div>
    <a routerLink="/" class="navbar-logo-text">All Up in the Mix</a>
  </div>
  <div class="navbar-contents">
    <a routerLink="/video-list">
      <span>Videos</span>
    </a>
    <a routerLink="/credits">
      <span>Credits</span>
    </a>
    <a routerLink="/bio">
      <span>Bio</span>
    </a>
    <a routerLink="/contacts">
      <span>Contact</span>
    </a>
  </div>
</div>
    <!-- <mat-sidenav-container (backdropClick)="close()" *ngIf="shouldRun">
      <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
        <a href="/">
          <button mat-menu-item>
            <span>Home</span>
          </button>
        </a>
        <a href="videos">
          <button mat-menu-item>
            <span>Videos</span>
          </button>
        </a>
        <a href="credits">
          <button mat-menu-item>
            <span>Credits</span>
          </button>
        </a>
      </mat-sidenav>
    
      <mat-sidenav-content>
        <div class="navbar-contents">
          <button class="hamburger-menu" mat-icon-button>
            <mat-icon class="navbar-icons">menu</mat-icon>
          </button>
          <span>
            <a href="/" class="navbar-logo-text">David Yungin Kim</a>
          </span>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container> -->